#superioity.sec(data-hash="#superioity")
  ol#cloud
    li.cloud1
      .cloudBg1
        .forPos
          strong seaJs
          p 模块化开发
    li.qiqiu1
      .qiqiuBg1
    li.qiqiu2
      .qiqiuBg2
    li.qiqiu3
      .qiqiuBg3
    li.cloud11
      .tiancong
      .cloudBg
        .forPos
          strong CSS
          p 熟练运用CSS3，给你不一样的效果
    li.cloud12
      .tiancong
      .cloudBg
        .forPos
          strong three.js
          p 让你癫狂的3D效果
    li.cloud13
      .tiancong
      .cloudBg
        .forPos
          strong JavaScript
          p 熟练使用原生js和JQuery，网页的调皮精灵给你出乎意料的交互效果。让访客眼前一亮！本站就是由原生js+jQuery来实现的
    li.cloud14
      .tiancong
      .cloudBg
        .forPos
          strong HTML
          p HTML5强大的新标签，为你的网页瘦身
    li#faceCloud
  #cityBgWrap.cityBg
    ol#weizhi
      li.china
        img(src="./static/imgs/china.png")
      li.helan
        img(src="./static/imgs/helan.png")
        img.fans(src="./static/imgs/helan2.png")
      li.kelimu
        img(src="./static/imgs/kelimu.png")
      li.miao
        img(src="./static/imgs/miao.png")
      li.bisa
        img(src="./static/imgs/bisa.png")
      li.baigong
        img(src="./static/imgs/baigong.png")
      li.ziyou
        img(src="./static/imgs/ziyou.png")
      li.miaoyuqiqiu
        img(src="./static/imgs/miaoyuqiqiu.png")