{
  "extends": "eslint-config-egg",
  "parser": "babel-eslint",
  "parserOptions": {
      "ecmaFeatures": {
        "destructuring": true,
        "spread": true,
        "restParams": true
      }
  },
  "rules": {
  },
  "globals": {
    "app": true,
    "request": true,
    "mm": true,
    "mock": true,
    "assert": true
  }
}
