{
  "extends": "eslint-config-egg",
  "rules": {
  },
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module"
  },
  "globals": {
    "app": true,
    "request": true,
    "mm": true,
    "mock": true,
    "assert": true,
  }
}
