
body{
	min-width:1100px;
	}
#superioity{
	position:absolute;
	left:50%;
	margin-left:-600px;
	width:1200px;
	height:760px;
	opacity:0;
	filter:alpha(opacity=0);
	background:url(../imgs/cloudBgMuch.png) center no-repeat;
	}
#cloud{
	width:100%;
	height:760px;
	position:relative;
	background:url(../imgs/cloudBgMuchB.png) top center no-repeat;

}
#cloud li{
	position: absolute;
	
}
#cloud li .cloudBg{
	position:absolute;
	opacity:0;
	filter:alpha(opacity=0);
}
#cloud li .tiancong{
	width:2px;
	background:#fff;
	box-shadow:0 3px 3px rgba(99,99,99,0.6);
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:0.4s opacity ease;
	-moz-transition:0.4s opacity ease;
	-ms-transition:0.4s opacity ease;
	-o-transition:0.4s opacity ease;
	transition:0.4s opacity ease;
}
#cloud .forPos{
	position:absolute;
	
}
#cloud .cloud1{
	left:390px;
	top:74px;
	opacity:0;
	filter:alpha(opacity=0);
}
#cloud .cloud1 .forPos{
	width:70px;
	height:40px;
	left:14px;
	top:5px;
	padding:20px 15px;
	
}
#cloud .cloud1 strong{
	display:block;
	width:70px;
	height:20px;
	line-height:20px;
	font-size:14px;
	font-weight:normal;
	color:#ef6f49;
	text-align:center;
}
#cloud .cloud1 p{
	width:70px;
	height:20px;
	line-height:20px;
	font-size:12px;
	color:#4e8a7b;
	text-align:center;
}
#cloud .cloudBg1{
	width:129px;
	height:85px;
	background:url(../imgs/cloud1.png) center no-repeat;
}
#cloud .qiqiu1{
	left:170px;
	top:570px;
	-webkit-transition:1s all ease-in-out;
	-moz-transition:1s all ease-in-out;
	=ms-transition:1s all ease-in-out;
	-o-transition:1s all ease-in-out;
	transition:1s all ease-in-out;
}

#cloud .qiqiuBg1{
	width:192px;
	height:219px;
	background:url(../imgs/qiqiu1.png);
}
#cloud .qiqiu2{
	left:630px;
	top:530px;
	-webkit-transition:1s all ease-in-out;
	-moz-transition:1s all ease-in-out;
	=ms-transition:1s all ease-in-out;
	-o-transition:1s all ease-in-out;
	transition:1s all ease-in-out;
}
#cloud .qiqiuBg2{
	width:79px;
	height:93px;
	background:url(../imgs/qiqiu2.png);
}
#cloud .qiqiu3{
	left:910px;
	top:600px;
	-webkit-transition:1s all ease-in-out;
	-moz-transition:1s all ease-in-out;
	=ms-transition:1s all ease-in-out;
	-o-transition:1s all ease-in-out;
	transition:1s all ease-in-out;
}
#cloud .qiqiuBg3{
	width:155px;
	height:178px;
	background:url(../imgs/qiqiu3.png);
}
#cloud .cloud11{
	left:220px;
	top:-44px;
}
#cloud .cloud11 .forPos{
	width:140px;
	height:70px;
	left:14px;
	top:5px;
	padding:30px 15px 0;
	
}
#cloud .cloud11 strong{
	display:block;
	width:140px;
	height:20px;
	line-height:20px;
	font-size:18px;
	color:#ef6f49;
	text-align:center;
}
#cloud .cloud11 p{
	width:140px;
	height:20px;
	line-height:20px;
	font-size:14px;
	color:#4e8a7b;
	text-align:center;
}

#cloud .cloud11  .tiancong{
	height:50px;
}
#cloud .cloud11 .cloudBg{
	left:-100px;
	bottom:-90px;
	width:194px;
	height:104px;
	background:url(../imgs/cloud11.png);
}
#cloud .cloud12{
	left:850px;
	top:-70px;
}
#cloud .cloud12  .tiancong{
	height:70px;
}
#cloud .cloud12 .forPos{
	width:140px;
	height:50px;
	left:14px;
	top:5px;
	padding:50px 15px 0;
	
}
#cloud .cloud12 strong{
	display:block;
	width:140px;
	height:20px;
	line-height:20px;
	font-size:16px;
	color:#ef6f49;
	text-align:center;
}
#cloud .cloud12 p{
	width:140px;
	height:20px;
	line-height:20px;
	font-size:14px;
	color:#4e8a7b;
	text-align:center;
}

#cloud .cloud12 .cloudBg{
	left:-90px;
	bottom:-110px;
	width:207px;
	height:151px;
	background:url(../imgs/cloud12.png);
}
#cloud .cloud13{
	left:610px;
	top:-70px;
}
#cloud .cloud13 .forPos{
	width:240px;
	height:130px;
	left:14px;
	top:5px;
	padding:80px 100px 0 50px;
	
}
#cloud .cloud13 strong{
	display:block;
	width:240px;
	height:40px;
	line-height:20px;
	font-size:24px;
	color:#ef6f49;
	text-align:center;
}
#cloud .cloud13 p{
	width:240px;
	height:40px;
	line-height:20px;
	font-size:14px;
	color:#4e8a7b;
	text-align:center;
}

#cloud .cloud13  .tiancong{
	height:60px;
}

#cloud .cloud13 .cloudBg{
	left:-180px;
	bottom:-200px;
	width:393px;
	height:273px;
	background:url(../imgs/cloud13.png);
}
#cloud .cloud14{
	left:1010px;
	top:-70px;
}
#cloud .cloud14  .tiancong{
	height:90px;
}
#cloud .cloud14 .forPos{
	width:150px;
	height:70px;
	left:14px;
	top:5px;
	padding:70px 40px 0 50px;
	
}
#cloud .cloud14 strong{
	display:block;
	width:150px;
	height:20px;
	line-height:20px;
	font-size:18px;
	color:#ef6f49;
	text-align:center;
}
#cloud .cloud14 p{
	width:150px;
	height:20px;
	line-height:20px;
	font-size:14px;
	color:#4e8a7b;
	text-align:center;
}

#cloud .cloud14 .cloudBg{
	left:-130px;
	bottom:-150px;
	width:280px;
	height:198px;
	background:url(../imgs/cloud14.png);
}







#superioity .cityBg{
	width:940px;
	height:210px;
	background:url(../imgs/cityBg.png);
	position:absolute;
	left:50%;
	margin-left:-470px;
	bottom:0;
}
#weizhi{
	width:940px;
	height:210px;
	position:relative;
	
}
#weizhi .helan .fans{
	position:absolute;
	width:140px;
	height:140px;
	top:0;
	left:0;
	-webkit-animation:9s rotateFans linear infinite;
	-moz-animation:9s rotateFans linear infinite;
	-ms-animation:9s rotateFans linear infinite;
	-o-animation:9s rotateFans linear infinite;
	animation:9s rotateFans linear infinite;
}
@-webkit-keyframes rotateFans
{
	0% {
		-webkit-transform:rotate(0deg);
	}
	100% {
		-webkit-transform:rotate(-360deg);
	}
}
@-moz-keyframes rotateFans
{
	0% {
		-moz-transform:rotate(0deg);
	}
	100% {
		-moz-transform:rotate(-360deg);
	}
}
@-o-keyframes rotateFans
{
	0% {
		-o-transform:rotate(0deg);
	}
	100% {
		-o-transform:rotate(-360deg);
	}
}
@-ms-keyframes rotateFans
{
	0% {
		-ms-transform:rotate(0deg);
	}
	100% {
		-ms-transform:rotate(-360deg);
	}
}

@keyframes rotateFans
{
	0% {
		transform:rotate(0deg);
	}
	100% {
		transform:rotate(-360deg);
	}
}




#weizhi li{
	position:absolute;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transform:scale(0.3);
	-moz-transform:scale(0.3);
	-ms-transform:scale(0.3);
	-o-transform:scale(0.3);
	transform:scale(0.3);
	-webkit-transition:0.3s opacity ease-out;
	-moz-transition:0.3s opacity ease-out;
	-ms-transition:0.3s opacity ease-out;
	-o-transition:0.3s opacity ease-out;
	transition:0.3s opacity ease-out;
}
#weizhi li img{
	width:100%;
	height:100%;
}
#weizhi .china{
	width:103px;
	height:67px;
	left:348px;
	bottom:170px;
}
#weizhi .helan{
	width:140px;
	height:168px;
	left:420px;
	bottom:176px;
}
#weizhi .kelimu{
	width:200px;
	height:283px;
	left:186px;
	bottom:110px;
}
#weizhi .miao{
	width:179px;
	height:126px;
	left:570px;
	bottom:112px;
}
#weizhi .miaoyuqiqiu{
	width:59px;
	height:84px;
	left:650px;
	bottom:100px;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}
#weizhi .bisa{
	width:155px;
	height:186px;
	left:58px;
	bottom:58px;
}
#weizhi .baigong{
	width:267px;
	height:134px;
	left:354px;
	bottom:116px;
}
#weizhi .ziyou{
	width:175px;
	height:262px;
	left:716px;
	bottom:58px;
}
#faceCloud{
	width:540px;
	height:91px;
	background: url(../imgs/faceCloud.png) no-repeat;
	right:90px;
	top:50px;
}