#about.sec(data-hash="#about")
  #aboutCon
    #grid.ourPartner
      .gridShadow.gridShow
        .view
          .view-back
            h3 姓名&nbsp;:&nbsp;
              strong 陈剑鑫
            p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;能熟练使用seajs进行模块化开发或者团队开发，熟练掌握原生js。热爱前端编程，喜欢钻研前端框架，注重代码性能优化。能使用jQuery写出复杂的运动效果，擅长制作富有创意的网页特效。熟悉js的面向对象的开发，热爱组件开发。有丰富的项目经验，与我的搭档（javaWeb爱好者）一起开发了很多个功能性的系统。熟悉Ajax，能够熟练使用json、jsonp进行异步的数据更新。本站就是以jQuery作为底层框架配合采用Ajax、seajs、modernizr、HTML5以及CSS3来实现按需加载、无刷新切换页面。
          img(src="./static/imgs/1.jpg")
      .gridShadow
        .view
          .view-back
          img(src="./static/imgs/2.jpg")
      .gridShadow
        .view
          .view-back
          img(src="./static/imgs/3.jpg")
      .gridShadow
        .view
          .view-back
          img(src="./static/imgs/3.jpg")
      .gridShadow
        .view
          .view-back
          img(src="./static/imgs/3.jpg")
      .gridShadow
        .view
          .view-back
          img(src="./static/imgs/3.jpg")
      ul#flower
        li
        li
        li
        li
        li
  .aboutNav
    ol#aboutUs
      li.jason.active
      li.wife
      li.none
      li.none
      li.none
      li.none