#example.sec(data-hash="#example")
  strong#ckeyWords.ckeyWords
    span.comeBack 退出
    span.ckeyWordsIco.ckeyWordsIcoShow
    span.ckeyWordsIco.ckeyWordsIcoShow2
  #video_list
    ul#example_list
    span.prev
    span.next
  #contentBoxWrap
  #bottomPic
    #wrap
      #more_bubble
  #exampleMore
    #oContentBoxNav.contentBoxNav.clear
      a.pre.fl(href="javascript:;")
      ul#fastNav
      a.next.fr(href="javascript:;")
      span.active#cursor_point