#index.sec(data-hash="#index")
  #aside_L
    #sunLogo
      img(src="./static/imgs/sunLogo.png")
    #main_news
      #wear3D
        ul#wearWrap
          li.room
            .faceFont
            span.faceUp
            span.faceLeft
            span.faceBottom
            span.faceRight
      .text.athour
        span Design&nbsp;By
        span.fr C&nbsp;&hearts;&nbsp;Jason
    #news
      ul#pic
        each aNews, index in indexNews
          if index === 0
            li.active
              a(href="#{aNews.link}", target="_blank")
                img(src="#{aNews.src}")
          else
            li
              a(href="#{aNews.link}", target="_blank")
                img(src="#{aNews.src}")
  #aside_R
    ul#ring
      each ring in rings
        li