.wrap_test
  .test_title 提交用户信息
  form.margin
    .info_group
      label.label(for="inputName") 你的名字：
      input#inputName.form-control(type="text", name="user[name]")
    .info_group
      label.label(for="inputAge") 你的年龄：
      input#inputAge.form-control(type="text", name="user[age]")
  #submitBtn.submitBtn 提交
.wrap_test
  .test_title 获取用户信息
  ul#show_list.list_wrap
  #getBtn.submitBtn 获取
.wrap_test
  .test_title 提交留言信息
  form.margin
    .info_group
      label.label(for="inputTopic") 主题：
      input#inputTopic.form-control(type="text", name="user[topic]")
    .info_group
      label.label(for="inputNameU") 昵称：
      input#inputNameU.form-control(type="text", name="user[name]")
    .info_group
      label.label(for="inputContent") 留言：
      input#inputContent.form-control(type="text", name="user[content]")
    .info_group
      label.label(for="inputTel") 联系方式：
      input#inputTel.form-control(type="text", name="user[tel]")
  #createBtn.submitBtn 创建主题
.wrap_test
  ul#message_list.list_wrap
  #getMoment.submitBtn 获取留言列表
.wrap_test
  #saveMessage.submitBtn(data-id="54f5295cf58d48501c476645") 新增回复