div#waring
  div.waringContent
    h2 很遗憾！您的浏览器居然不支持3D效果
    div#tryBtn.testTry 检测一下性能？
    div.show
      table#testSpace
        tbody
          tr
            td 功能属性
            td 检测结果
            td 功能属性
            td 检测结果
          tr
            td 动画功能:
            td.space &nbsp;
            td 自定义属性:
            td.space &nbsp;
          tr
            td 3D渲染:
            td.space &nbsp;
            td 圆滑过渡:
            td.space &nbsp;
          tr
            td 背景渐变:
            td.space &nbsp;
            td 总得分:
            td#how &nbsp;
    div#warTitle *温馨提示：您的浏览器功能实在是不强大,不能够很好的展示本站的效果,建议使用谷歌或者国内的UC浏览器PC版再来试试吧！
    div#welcome 非要访问？