doctype
html
  head
    meta(charset="utf-8")
    title JC网站建设|前端前沿技术|HTML5特效|SVG特效
    include ./includes/head
  body
    include ./pages/waring
    include ./pages/loadingMain
    include ./includes/header
    include ./includes/bodyer
    include ./includes/footer