link(href="/static/css/main.css", rel="stylesheet")
link(href="/static/imgs/lovecash.ico", rel="shortcut icon")
script(src="/static/js/lib/modernizr.js")
script(src="/static/js/lib/sea.js")
script(src="/static/js/index.js")