div#header
  div.wrap
    div.logo
    ul#webNav
      li
        a.active(href="javascript:;" data-hash="#index") 首&nbsp;&nbsp;页
      li
        a(href="javascript:;" data-hash="#example") 成功案例
      li
        a(href="javascript:;" data-hash="#superioity") 我的优势
      li
        a(href="javascript:;" data-hash="#conversation") 技术交流
      li
        a(href="javascript:;" data-hash="#about") 关于我们
      li
        a(href="javascript:;" data-hash="#bbs") BBS论坛