div#footer
  div#copyright
    div.logo
    div#statement
      p
        span CJ网站建设&nbsp;&copy;&nbsp;版权所有&nbsp;Jason&nbsp;Chen&nbsp;
        span 联系电话&nbsp;:&nbsp;15914258226
      p
        span 地址&nbsp;:&nbsp;江西省赣州市章贡区江西理工大学
    div#friend
      each friendship in friendships
        a(href="#{friendship.link}")
          img(src="#{friendship.icon}", alt="#{friendship.title}")