link(href="/admin/css/main.css", rel="stylesheet")
link(href="/admin/imgs/lovecash.ico", rel="shortcut icon")
script(src="/admin/js/lib/jquery-1.11.0.min.js")
script(src="/admin/js/modules/login.js")